@keyframes bounce {
  0% {
    transform: scaleX(100%) scaleY(100%);
  }

  25% {
    transform: scaleX(140%) scaleY(85%);
  }

  40% {
    transform: scaleX(100%) scaleY(100%);
  }

  50% {
    transform: scaleX(90%) scaleY(115%);
  }

  60% {
    transform: scaleX(105%) scaleY(94%);
  }

  70% {
    transform: scaleX(96%) scaleY(106%);
  }

  80% {
    transform: scaleX(103%) scaleY(98%);
  }

  90% {
    transform: scaleX(101%) scaleY(99%);
  }

  92% {
    transform: scaleX(100%) scaleY(100%);
  }

  94% {
    transform: scaleX(101%) scaleY(99%);
  }

  96% {
    transform: scaleX(100%) scaleY(100%);
  }

  98% {
    transform: scaleX(101%) scaleY(99%);
  }

  100% {
    transform: scaleX(100%) scaleY(100%);
  }
}

@media screen and (min-width: 600px) {
  .base {
    font-size: 4.4rem;
    font-weight: 700;
    transition: 0.2s ease-in;
  }
}

@media screen and (max-width: 600px) {
  .base {
    font-size: 10vw;
    font-weight: 700;
    transition: 0.2s ease-in;
  }
}

.base:hover {
  color: #08fdd8;
  transition: 0.2s ease-in;
}

.hovering {
  animation: bounce 2s ease !important;
}
